:root{
    --background: linear-gradient(to left, #38adbd, #00050a);
    --primary-color: #1C1D20;
    --secondary-color: #38adbd; 
    --accent-color: #0ee619; 
    --text-color: #F9F9F9;
    --tertiary-text-color: #080f09;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Courier New', Courier, monospace;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    padding: 10px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

form{
    position: relative;
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#txtInputID{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#txtInputID:focus{
    outline: none;
    border-color: var(--accent-color);
}


#btnAddID{
    position: absolute;
    top: 4px;
    right: 4px;

    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 85%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 1000;
    cursor: pointer;
}
#btnAddID:hover{
    background-color: var(--accent-color);
    color: black;
    opacity: 90%;
    
}

.cTask{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.cTask .cTaskText{
    padding: 15px;
    padding-right: 0;
    max-width: 90%;
    flex-grow: 1;
    transition: 200ms ease; 
    overflow-wrap: break-word;   
}

.cDelete{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cDelete svg{
    transition: 200ms ease;
}
.cDelete:hover svg{
    fill: #ff0033;
}

.cCheckbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
    margin-top: 3px;
   
}

input[type="checkbox"]:checked ~ .cCheckbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .cCheckbox svg{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .cTaskText{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;
}

/*Responsiveness*/
@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #btnAddID{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
}

